{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": 8.0
      }
    }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    ["transform-object-rest-spread", {"useBuiltIns": true}]
  ]
}
